<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <title>Solar System Explorers</title>

  <style>
    body {
      font: 100% / 1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
      padding: 3em 4.5em;
    }
    li {
      margin-top: 3em;
    }
    li h3 {
      display: inline;
    }
    figure {
      margin-left: 0;
      margin-right: 0;
    }
    figcaption {
      font-size: 0.75em;
      font-style: italic;
      opacity: 0.5;
    }
    summary {
      margin-top: 1.5em;
      margin-bottom: 1.5em;
    }
    @supports (object-fit: cover) {
      img {
        width: 100%;
        object-fit: cover;
      } 
    }
    @supports (display: grid) {
      ol, li {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
      }    
      ol {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
        grid-gap: 3em;
      }
    }
    .error .message,
    .loading .message {
      display: block !important;
    }
    .error .message {
      color: red;
    }
  </style>

</head>
<body>

<h1>Solar System Explorers</h1>
<p class="message" style="display: none;" role="status"></p>
<ol id="people-list"></ol>

<script type="text/template" id="person-template">
  <li>
    <h2>{{ name }}</h2>
    <h3>{{ title }}</h3>
    <figure>
      <img src="{{ image }}" alt="{{ name }}" />
      <figcaption>{{ caption }}</figcaption>
    </figure>
    <p>{{ description }}</p>
    <details>
      <summary>
        <h3><abbr title="Questions and Answers">Q &amp; A</abbr></h3>
      </summary>
      {{ body }}
    </details>
  </li>
</script>

<script>
(function() {

  // Example requests for the People API on solarsystem.nasa.gov

  // All people
  // https://solarsystem.nasa.gov/api/v1/site_staffs/?category=4

  // Featured people
  // https://solarsystem.nasa.gov/api/v1/site_staffs/?category=4:134

  // Tributes
  // https://solarsystem.nasa.gov/api/v1/site_staffs/?category=4:147

  // People with the Saturn tag
  // https://solarsystem.nasa.gov/api/v1/site_staffs/?category=4&tags=saturn

  // Limit to twenty people per page
  // https://solarsystem.nasa.gov/api/v1/site_staffs/?category=4&per_page=20&page=0

  // Get the next page
  // https://solarsystem.nasa.gov/api/v1/site_staffs/?category=4&per_page=20&page=1

  // Order the data by name, ascending
  // https://solarsystem.nasa.gov/api/v1/site_staffs/?category=4&order=name+asc

  // Order the data by name, descending
  // https://solarsystem.nasa.gov/api/v1/site_staffs/?category=4&order=name+desc

  // https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch
  showLoadingMessage()
  fetch('https://solarsystem.nasa.gov/api/v1/site_staffs/?page=0&per_page=9999&order=name+asc&search=&category=4')
    .then(function(response) {
      return response.json()
    })
    .then(function(myJson) {
      console.log(myJson)
      addItems(myJson)
      hideLoadingMessage()
    })
    .catch(function(error) {
      console.error(error)
      showErrorMessage()
    })

  function addItems(data) {
    var list     = document.getElementById('people-list')
    var template = document.getElementById('person-template')

    if (data && list && template) {
      for (var index = 0; index < data.items.length; index++) {
        createItem(data.items[index], list, template)
      }
    }
  }

  function createItem(itemData, list, template) {
    var name        = itemData.name
    var title       = itemData.title
    var description = itemData.short_description
    var caption     = itemData.image_subtitle
    var body        = itemData.body
    var image       = itemData.image_src

    if (image.indexOf('/') === 0) image = 'https://solarsystem.nasa.gov' + image

    var html = template.innerHTML
      .replace(/\{\{ name \}\}/g,        name)
      .replace(/\{\{ description \}\}/g, description)
      .replace(/\{\{ title \}\}/g,       title)
      .replace(/\{\{ image \}\}/g,       image)
      .replace(/\{\{ caption \}\}/g,     caption)
      .replace(/\{\{ body \}\}/g,        body)

    list.insertAdjacentHTML('beforeend', html)
  }

  function showErrorMessage() {
    document.body.classList.add('error');
    document.querySelector('.message').textContent = 'An error occurred while loading the data';
  }

  function showLoadingMessage() {
    document.body.classList.add('loading');
    document.querySelector('.message').textContent = 'Loading data…';
  }

  function hideLoadingMessage() {
    document.body.classList.remove('loading');
    document.querySelector('.message').textContent = 'This page has loaded';
  }

})();

</script>

</body>
</html>
